/* DestinationDetails.css */

.section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}

.details_title {
  font-size: 1.5rem;
  color: #333;
  padding-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.details_img {
  width: 100%; /* Adjust as needed */
  max-width: 600px; /* Maximum width of the image */
  height: auto;
}

.destination-details__content {
  width: 50%; /* Adjust as needed */
  text-align: left; /* Align text to the left */
}

.destination-details__description {
  font-size: 1rem;
  color: #555;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-bottom: 10px;
}

.destination-details__continent {
  font-size: 1rem;
  color: #777;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: darkslateblue;
  margin-bottom: 20px;
}

.details_button_delete,
.details_button_edit {
  padding: 8px 12px;
  margin: 20px;
  background-color: #f12711;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.details_button_delete:hover,
.details_button_edit:hover {
  background-color: #ffb20b;
}

@media screen and (max-width: 768px) {
  /* Adjust layout for smaller screens */
  .section {
    flex-direction: column; /* Stack items vertically */
    align-items: center;
  }

  .details_img {
    width: 100%; /* Image takes full width */
    margin-right: 0;
    margin-bottom: 10px;
  }

  .destination-details__content {
    width: 100%; /* Content takes full width */
    padding: 0 20px; /* Add padding for better readability */
  }
}

.destination_details_section{
  display: grid;
  align-items: self-start;
  grid-template-columns:  40% 60%;
  padding: 50px;
}

.destination_details_text{
  padding-left: 30px;
}

.destination_details_buttons{
  width: 100%;
  display: flex;
  justify-content: end;
}