@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

.login {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

.login-heading {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #333;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  background-color: #fff;
  width: 100%;
  max-width: 400px;
}

#email,
#password {
  border: none;
  outline: none;
  flex: 1;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

.login-button {
  padding: 15px;
  background-color: #f12711;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

.login-button:hover {
  background-color: #ffb20b;
  color: black;
}

.error {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: red;
  margin-bottom: 20px;
  text-align: center;
}

@media (max-width: 600px) {
  .login {
    width: 100%;
    max-width: 100%;
    padding: 10px;
  }

  .row {
    flex-direction: column;
    padding: 5px;
  }

  .row input {
    padding: 8px;
  }

  .login-button {
    padding: 12px;
    font-size: 14px;
  }
}
