.destination--large .destination__image {
  width: 380px;
  height: 220px;
  margin-top: 30px;
}

.destination--large {
  position: relative;
}

.destination__image {
  width: 230px;
  height: 130px;
  border-radius: 6px;
}

.destination__title {
  margin: 0;
  font-size: 0.6rem;
}

span {
  font-size: 0.6rem;
}

.destination__year,
.destination__season,
.destination__continent {
  margin-right: 0.5rem;
}

.destination__info{
    color: rgb(0, 0, 0);
    font-size: 16px;
    transition: font-size 0.3s ease; 
}


.destination__info:hover {
    font-size: 30px; 
}
